Deny from all


-- Create Profile is broken now.
-- Wow catches is broken now.
-- Blind spots is broken now.
-- All footer links are broken now.


-- Search talents
-- Live matches
-- Live score feed
-- 20overs app fix
