.title{
	 background: rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.contents{
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	padding:5px;
	color:#fff;
	bottom: 40px;
	width: 93%;
}
.cust-a{
	color:#fff;
}
.cust-a:hover{
	color: #ccc;
}